In [1]:
#. Q.1) lIST ANY FIVE FUNCTIONS OF PANDAS LIBRARY WITH EXECUTION.

'''  
------> Five functions of Pandas library are:
i) read_csv()
ii) head()
iii) describe()
iv) memory_usage()
v) fillna()

'''

'  \n------> Five functions of Pandas library are:\ni) read_csv()\nii) head()\niii) describe()\niv) memory_usage()\nv) fillna()\n\n'

In [7]:
#Execution of above functions
import pandas as pd 
df = pd.read_csv('data.csv')
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [8]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [9]:
df.memory_usage()

Index       132
Duration    256
Date        256
Pulse       256
Maxpulse    256
Calories    256
dtype: int64

In [16]:
values = {"Date": 00000, "Pulse": 1, "Maxpulse": 2, "Calories": 3}
df.fillna(value=values)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       3.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45             0    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       3.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [17]:
''' 
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
'''

" \nQ2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the\nDataFrame with a new index that starts from 1 and increments by 2 for each row.\n"

In [18]:
''' 

ANSWER FOR 2

new_index = range(1, 2* len(df) + 1, 2)
df.reindex(new_index)
'''

' \nnew_index = range(1, 2* len(df) + 1, 2)\ndf.reindex(new_index)\n'

In [19]:
'''  
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
'''

"  \nQ3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that\niterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The\nfunction should print the sum to the console.\n"

In [42]:
#df['Values'].iloc[0:3].sum()
#df.loc[0:2,'Values'].sum()

In [43]:
''' 
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
'''

" \nQ4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column\n'Word_Count' that contains the number of words in each row of the 'Text' column.\n"

In [44]:
#df["Word_Count"] = df[Text"].apply(lambda n: len(n.split()))

In [45]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

In [46]:
''' 
DataFrame.size returns the total number of elements in the DataFrame. It calculates this by multiplying the number of rows by the number of columns.
DataFrame.shape returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns.
'''

' \nDataFrame.size returns the total number of elements in the DataFrame. It calculates this by multiplying the number of rows by the number of columns.\nDataFrame.shape returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns.\n'

In [48]:
#Q6. Which function of pandas do we use to read an excel file?
# ----> We use df.read_excel("file_name.xlsx")

In [50]:
'''  
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

'''

#df['Username'] = df['Email'].str.split("@").str[0]

"  \nQ7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email\naddresses in the format 'username@domain.com'. Write a Python function that creates a new column\n'Username' in df that contains only the username part of each email address.\nThe username is the part of the email address that appears before the '@' symbol. For example, if the\nemail address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your\nfunction should extract the username from each email address and store it in the new 'Username'\ncolumn.\n\n"

In [51]:
''' 
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

'''


# df['new_row'] = df[(df['A'] > 5) & (df['B'] < 10)]

" \nQ8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects\nall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The\nfunction should return a new DataFrame that contains only the selected rows.\nFor example, if df contains the following values:\nA B C\n0 3 5 1\n1 8 2 7\n2 6 9 4\n3 2 3 5\n4 9 1 2\nYour function should select the following rows: A B C\n1 8 2 7\n4 9 1 2\nThe function should return a new DataFrame that contains only the selected rows.\n\n"

In [52]:
''' 
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.
'''

" \nQ9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,\nmedian, and standard deviation of the values in the 'Values' column.\n"

In [53]:
'''values_column = df['Values']
mean = values_column.mean()
median = values_column.median()
standard_deviation = values_column.std_deviation()
print(mean)
print(median)
print(standard_deviation)
'''

"values_column = df['Values']\nmean = values_column.mean()\nmedian = values_column.median()\nstandard_deviation = values_column.std_deviation()\nprint(mean)\nprint(median)\nprint(standard_deviation)\n"

In [54]:
''' 
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
'''

" \nQ10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to\ncreate a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days\nfor each row in the DataFrame. The moving average should be calculated using a window of size 7 and\nshould include the current day.\n"

In [55]:
''' 

def calculate_moving_average(df):
    # Assuming 'Sales' is the column name, and 'Date' is the datetime column
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()


calculate_moving_average(df)

'''

" \n\ndef calculate_moving_average(df):\n    # Assuming 'Sales' is the column name, and 'Date' is the datetime column\n    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()\n\n\ncalculate_moving_average(df)\n\n"

In [56]:
'''   
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
'''

"   \nQ11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new\ncolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.\nMonday, Tuesday) corresponding to each date in the 'Date' column.\n"

In [57]:
''' 
def add_weekday_column(df):
    # Assuming 'Date' is the datetime column
    df['Weekday'] = df['Date'].dt.day_name()
    
add_weekday_column(df)
'''

" \ndef add_weekday_column(df):\n    # Assuming 'Date' is the datetime column\n    df['Weekday'] = df['Date'].dt.day_name()\n    \nadd_weekday_column(df)\n"

In [58]:
''' 
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
'''

" \nQ12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python\nfunction to select all rows where the date is between '2023-01-01' and '2023-01-31'.\n"

In [59]:
''' 
def select_rows_in_date_range(df):
    # Assuming 'Date' is the datetime column
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Convert 'Date' column to datetime, if not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Use boolean indexing to select rows in the specified date range
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return selected_rows

selected_rows = select_rows_in_date_range(df)

'''

" \ndef select_rows_in_date_range(df):\n    # Assuming 'Date' is the datetime column\n    start_date = '2023-01-01'\n    end_date = '2023-01-31'\n\n    # Convert 'Date' column to datetime, if not already\n    df['Date'] = pd.to_datetime(df['Date'])\n\n    # Use boolean indexing to select rows in the specified date range\n    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]\n\n    return selected_rows\n\nselected_rows = select_rows_in_date_range(df)\n\n"

In [60]:
'''  
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
'''

'  \nQ13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to\nbe imported?\n'

In [61]:
'''  
The first and foremost library that needs to be imported to use the basic functions of Pandas is the pandas library itself. You can import it using the following convention:

import pandas as pd
'''

'  \nThe first and foremost library that needs to be imported to use the basic functions of Pandas is the pandas library itself. You can import it using the following convention:\n\nimport pandas as pd\n'